<section class="aboutgame-section" id="aboutgame-section">
  <div class="aboutgame-container container">
    <div class="aboutgame-wraper-images">
      <picture>
        <source
          srcset="
            /img/about-game/desctop@2x.png 2x,
            /img/about-game/desctop.png    1x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/about-game/mobile@2x.png 2x,
            /img/about-game/mobile.png    1x
          "
          media="(max-width: 1199px)"
        />
        <img
          class="about-game-img"
          src="/img/about-game/mobile.png"
          alt="About The Game"
        />
      </picture>
    </div>

    <div class="aboutgame-wraper-text">
      <h2 class="aboutgame-title">About the Game</h2>
      <p class="aboutgame-text">
        Match Journey is a match-3 puzzle game that rewards every victory with a
        collectible surprise. But instead of coins or jewels, you’re building a
        visual collection of the world’s most beautiful places. Designed with
        calming audio, smooth controls, and carefully crafted levels, the game
        offers both relaxation and motivation. No rush, no stress—just rewarding
        gameplay and beautiful progress.
      </p>
    </div>
  </div>
</section>
