<section class="daily-section" id="daily-section">
    <div class="container">

        <div class="daily-wrap">
            <div class="daily-wrapper-list">

                <h2 class="daily-title">Daily Events & Rewards</h2>
                <p class="daily-text">Every day brings something new</p>

                <ul class="daily-list">
                    <li class="daily-item">
                        <span class="daily-item-icon"><img src="../img/events-rewards/item.png" alt="Daily Icon" width="24px" height="24px"></span>
                        <p class="daily-item-text">Time-limited match challenges</p>
                    </li>
                    <li class="daily-item">
                        <span class="daily-item-icon"><img src="../img/events-rewards/item.png" alt="Daily Icon" width="24px" height="24px"></span>
                        <p class="daily-item-text">Bonus puzzles for rare landmarks</p>
                    </li>
                    <li class="daily-item">
                        <span class="daily-item-icon"><img src="../img/events-rewards/item.png" alt="Daily Icon" width="24px" height="24px"></span>
                        <p class="daily-item-text">Gem collections for power-ups</p>
                    </li>
                    <li class="daily-item">
                        <span class="daily-item-icon"><img src="../img/events-rewards/item.png" alt="Daily Icon" width="24px" height="24px"></span>
                        <p class="daily-item-text">New badge achievements</p>
                    </li>
                </ul>
            </div>

            <div class="daily-wrapper-img">
                <div class="daily-picture">
                    <picture>
                        <source srcset="../img/events-rewards/desctop@2x.png 2x, ../img/events-rewards/desctop.png 1x" media="(min-width: 1200px)">
                        <source srcset="../img/events-rewards/mobile@2x.png 2x, ../img/events-rewards/mobile.png 1x" media="(max-width: 1199px)">
                        <img class="daily-img" src="../img/events-rewards/mobile.png" alt="Daily Events And Rewards">
                    </picture>
                </div>
                <p class="daily-img-text">Participation unlocks boosters, energy, and unique puzzle frames. Events are timed to be stress-free yet satisfying to complete.</p>
            </div>
            
        </div>
    </div>
</section>


