<section id="FAQ" class="faq-section">
  <div class="container">
    <div class="faq-title-center">
      <h2 class="faq-title">FAQ</h2>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Can I play Match Journey without an internet connection?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="/img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="/img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">
          Can I play Match Journey without an internet connection?
        </h3>
        <p class="faq-p">
          Yes, Match Journey is fully functional offline. You can complete
          levels, unlock puzzles, and collect rewards even when you're not
          connected to Wi-Fi or data. This makes it perfect for travel,
          commuting, or anytime you’re away from a reliable signal. Your
          progress is saved locally and automatically synced when you go back
          online. You won’t lose any of your puzzle pieces or boosters. Just
          make sure you open the game online once in a while to get updates and
          join timed events. Offline play has been optimized for smooth,
          uninterrupted gaming.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        How do I collect jigsaw puzzles of landmarks?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="/img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="/img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">How do I collect jigsaw puzzles of landmarks?</h3>
        <p class="faq-p">
          Each level you complete adds puzzle pieces toward your next landmark.
          Once you’ve earned all the pieces for a specific location, the full
          image unlocks in your Puzzle Gallery. You can revisit the gallery
          anytime to view completed puzzles or reread the facts. Some puzzles
          are tied to events or achievements, so don’t forget to check for daily
          or weekly missions. Puzzle collection is not timed—players progress at
          their own pace. The goal is to enjoy both the game and the journey of
          exploration.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Are there in-app purchases?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">Are there in-app purchases?</h3>
        <p class="faq-p">
          Yes, the game includes optional in-app purchases. These may include
          booster packs, extra lives, or premium puzzle collections. However,
          the game is designed so that all levels and standard puzzles can be
          completed without spending money. We aim to keep the experience
          enjoyable and accessible for all users. Purchases simply help speed
          things up or unlock cosmetic features. You’ll never be forced to buy
          anything to finish a level.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        What age group is Match Journey suitable for?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">What age group is Match Journey suitable for?</h3>
        <p class="faq-p">
          Match Journey is designed for all age groups, from kids who enjoy
          colorful puzzles to seniors looking for cognitive stimulation. Its
          gentle progression system, intuitive interface, and non-violent
          content make it especially suitable for families. Young children can
          enjoy it under parental supervision, while adults can use it to relax
          or wind down. The educational facts tied to landmarks add a layer of
          learning for school-age players. The game is easy to understand, but
          still offers challenges for advanced users.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        How often do you add new puzzles or events?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">How often do you add new puzzles or events?</h3>
        <p class="faq-p">
          We release new puzzles and global landmarks on a monthly basis. Weekly
          events are also introduced regularly, and they often include
          limited-time content, such as exclusive puzzle frames or time-based
          challenges. Holiday-themed updates are added seasonally. Players who
          stay active are rewarded with early access to new puzzles. You’ll get
          notified when a new event or content drop is available, so be sure to
          check in often.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        What if I get stuck on a level?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">What if I get stuck on a level?</h3>
        <p class="faq-p">
          If you're stuck, there are multiple ways to get help. You can use
          earned or purchased boosters like hammers and bombs. Watching an
          optional short ad may also offer you extra moves. Over time, your
          skill will naturally improve, so revisiting the level later can help.
          Some levels are tougher by design to encourage strategy and
          experimentation. And if frustration builds, remember there’s no time
          limit—take a break and return with fresh eyes.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Can I replay earlier levels or puzzles?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">Can I replay earlier levels or puzzles?</h3>
        <p class="faq-p">
          Absolutely. You can revisit and replay any previously completed level
          at any time. This allows players to improve their scores, collect more
          puzzle pieces, or just enjoy relaxing matches. You can also replay
          finished jigsaw puzzles in your gallery for a zen-like experience.
          Some special puzzles offer variations each time they’re replayed. We
          believe players should enjoy every part of the game as often as they
          like.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Do I lose progress if I uninstall the game?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">Do I lose progress if I uninstall the game?</h3>
        <p class="faq-p">
          As long as your game was connected to a Google Play account or Apple
          Game Center, your progress can be recovered. If you play without
          account linking, uninstalling the app may result in lost progress. We
          recommend connecting your account to cloud save for full backup. You
          can also manually back up your progress in settings if available. It’s
          fast, safe, and ensures your puzzles remain yours forever.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Can I play on multiple devices?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">Can I play on multiple devices?</h3>
        <p class="faq-p">
          Yes, you can play Match Journey on more than one device. Simply link
          your game to your Google or Apple account and your progress will sync
          across all devices. Make sure to open the game online to complete the
          sync process. Your boosters, puzzle gallery, and level history will
          all remain intact. This feature is especially helpful if you switch
          phones or use both a tablet and a phone.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        Are there ads in the game?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">Are there ads in the game?</h3>
        <p class="faq-p">
          There are limited ads in Match Journey, and they’re fully optional.
          You can choose to watch ads in exchange for boosters or extra moves,
          but they are never required. We prioritize a smooth and relaxing
          player experience. No ads will interrupt your gameplay or appear in
          the middle of a level. Players who purchase any item from the store
          also receive an ad-free experience for several days.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq-item>
      <div class="faq-question" data-faq-question>
        How can I submit feedback or report bugs?
        <div class="faq-svg-div">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-bootom"></use>
          </svg>
        </div>
      </div>
      <div class="faq-answer" data-faq-answer>
        <div class="faq-svg-div2">
          <svg class="faq-svg">
            <use href="../img/sprite.svg#icon-button-fag-top"></use>
          </svg>
        </div>
        <h3 class="faq-h3">How can I submit feedback or report bugs?</h3>
        <p class="faq-p">
          We welcome your feedback and work hard to improve the game. You can
          submit feedback directly from the app settings, or email us at
          info@educationpu.space. Please include details about your device,
          version number, and what issue you encountered. Screenshots are
          especially helpful. We review every message and often incorporate
          player suggestions into updates. Your input helps us create a better
          game for everyone.
        </p>
      </div>
    </div>
  </div>
</section>
