<section class="features-section" id="features-section">
    <div class="container">

        <h2 class="features-title">Game Features</h2>
        <p class="features-text">Match It is designed with both children and parents in mind, offering:</p>

        <div class="features-wrap">

            <div class="features-wrapper-list">
                <ul class="features-list">
                    <li class="features-item"><p class="features-item-text"> Over 2,000 hand-designed match-3 levels</p></li>
                    <li class="features-item"><p class="features-item-text"> Dynamic tile mechanics and special effects</p></li>
                    <li class="features-item"><p class="features-item-text"> Jigsaw puzzle collection system</p></li>
                    <li class="features-item"><p class="features-item-text"> Offline mode with full functionality</p></li>
                    <li class="features-item"><p class="features-item-text"> Custom soundtrack for a relaxed vibe</p></li>
                    <li class="features-item"><p class="features-item-text"> Clean interface, minimal ads</p></li>
                    <li class="features-item"><p class="features-item-text"> Free daily rewards and mini events</p></li>
                </ul>
            </div>

            <div class="features-wrapper-img">
                <picture>
                    <source srcset="../img/game-feauters/desctop@2x.png 2x, ../img/game-feauters/desctop.png 1x" media="(min-width: 1200px)">
                    <source srcset="../img/game-feauters/mobile@2x.png 2x, ../img/game-feauters/mobile.png 1x" media="(max-width: 1199px)">
                    <img class="features-img" src="../img/game-feauters/mobile.png" alt="Game Features">
                </picture>
            </div>

        </div>

    </div>
</section>