<section class="global-section" id="global-section">
    <div class=" container">

        <h2 class="global-title">Global Landmarks</h2>
        <p class="global-subtitle">Each puzzle includes historical and cultural insights, making the game not just fun, but educational too.</p>

        <ul class="global-list">
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/eiffel.png" alt="Eiffel" width="195px" height="176px">
                        <p class="global-text">Eiffel Tower</p>
                        <p class="text-change">France</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img//global-landmarks/petra.png" alt="Petra" width="195px" height="176px">
                        <p class="global-text">Petra</p>
                        <p class="text-change">Jordan</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/christ.png" alt="Christ" width="195px" height="176px">
                        <p class="global-text">Christ the Redeemer</p>
                        <p class="text-change">Brazil</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/pyramids.png" alt="Pyramids" width="195px" height="176px">
                        <p class="global-text">The Pyramids of Giza</p>
                        <p class="text-change">Egypt</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/fuji.png" alt="Fuji" width="195px" height="176px">
                        <p class="global-text">Mount Fuji</p>
                        <p class="text-change">Japan</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/colloseum.png" alt="Colosseum" width="195px" height="176px">
                        <p class="global-text">The Colosseum</p>
                            <p class="text-change">Italy</p>
                </div>
            </li>
            <li class="global-item">
                <div class="global-list-wrap">
                    <img class="global-img" src="../img/global-landmarks/uluru.png" alt="Uluru" width="195px" height="176px">
                        <p class="global-text">Uluru</p>
                        <p class="text-change">Australia</p>
                </div>
            </li>
        </ul>
    </div>
</section>









