<header class="main-header">
  <div class="container">
    <div class="logo-wrapper">
      <img src="../img/header/logo.png" alt="logo" class="logo-floating" />
    </div>
    <button class="burger-svg" data-action="open">
      <svg class="svg-bur">
        <use href="/img/sprite.svg#icon-mingcute_menu-fill"></use>
      </svg>
    </button>
    <nav class="nav-header" data-visible="close">
      <button data-action="close" class="close-btn">✕</button>
      <div class="header-nav navin">
        <a href="#home-section">Home</a>
        <a href="#aboutgame-section">About the Game</a>
        <a href="#">How to Play</a>
        <a href="#">Puzzle Gallery</a>
        <a href="#features-section">Game Features</a>
        <a href="#global-section">Global Landmarks</a>
      </div>
      <div class="header-nav">
        <a href="#daily-section">Events</a>
        <a href="#">Offline Mode</a>
        <a href="#whofor-section">Who It's For</a>
        <a href="#">FAQ</a>
        <a href="#">Testimonials</a>
        <a href="#">Contact</a>
      </div>
    </nav>
  </div>
</header>
