<section class="home-section" id="home-section">
    <div class="home-container container">

    <h2 class="home-desctop-subtitle">Match3 Puzzle</h2>
    <h1 class="home-desctop-title">Welcome to the Journey</h1>

    <div class="home-wrapper-background">
        <a class="home-link"
            href="https://play.google.com/store/apps/details?id=com.nstage.matchjourney&hl=en&gl=us "
            target="_blank" title="Клікніть для переходу на гру">
            <img class="home-link-img" src="/img/welcome-journey/button-google-play.png" alt="Google Logo" width="42px" height="47px">
            <span class="home-link-text">Google Play</span>
        </a>
    </div>

    <div class="home-wrapper-desctop">
        <div class="home-wrap-text">
            <h1 class="home-title">Welcome to the Journey</h1>
            <p class="home-text">Turn your downtime into a globe-trotting puzzle adventure. 
                Match Journey invites you to explore the world—one match at a time. 
                With each completed puzzle, you unlock a breathtaking view of iconic destinations, from the Eiffel
                Tower to the Great Wall of China. Whether you're looking for calm, challenge, or wanderlust, this game delivers it all.</p>
            <a class="home-desctop-link"
                href="https://play.google.com/store/apps/details?id=com.nstage.matchjourney&hl=en&gl=us " target="_blank"
                title="Клікніть для переходу на гру">
                <img class="home-link-img" src="/img/welcome-journey/button-google-play.png" alt="Google Logo" width="42px" height="47px">
                <span class="home-link-text">Google Play</span>
            </a>
        </div>
            
        <div class="home-wrapper-image"></div>
    </div>
    </div>
</section>