<section id="HowtoPlay" class="container">
  <div class="how-to-play">
    <div class="howToPlay-imgMob">
      <picture>
        <source
          srcset="
            ../img/how-play/mobile.png    1x,
            ../img/how-play/mobile@2x.png 2x
          "
          media="(max-width: 320px)"
        />
        <img src="../img/how-play/mobile.png" alt="AmazingCombo" />
      </picture>
    </div>
    <div class="how-to-play-wrapper">
      <div>
        <h2 class="howToPlay-h2">How to Play</h2>

        <ul class="howtoPlay-ul">
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              Swipe to match three or more identical tiles.
            </p>
          </li>
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              Each successful combination earns puzzle pieces
            </p>
          </li>
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              Collect enough pieces to reveal a stunning world landmark.
            </p>
          </li>
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              Progress through difficulty levels that gently scale with your
              skills.
            </p>
          </li>
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              You can return to past puzzles or retry levels to improve your
              time.
            </p>
          </li>
          <li class="howToPlay-li">
            <img
              src="../img/how-play/item.png"
              alt="item"
              class="itemHowPlay"
            />
            <p class="listHowP">
              Daily boosters and hints help when you're stuck.
            </p>
          </li>
        </ul>
      </div>
      <div class="howToPlay-imgDesk">
        <picture>
          <source
            srcset="
              ../img/how-play/desctop.png    1x,
              ../img/how-play/desctop@2x.png
            "
            media="(min-width: 1200px)"
          />
          <img src="../img/how-play/desctop.png" alt="AmazingCombo" />
        </picture>
      </div>
    </div>
  </div>
</section>
