<section class="OfflinMode">
  <div class="container">
    <div class="OfflineMode-div">
      <div class="Offline-mode-imageDesk">
        <img
          src="../img/offline-online/desctop.png"
          alt="offlineMode"
          srcset="
            ../img/offline-online/desctop.png    1x,
            ../img/offline-online/desctop@2x.png 2x
          "
        />
      </div>
      <div class="OfflineMode-elem"></div>
      <div class="div-OfflineModeDesk">
        <h2 class="Offline-mode-h2">Offline Mode, Online Progress</h2>
        <p class="Offline-mode-p">
          Match Journey works wherever you are. No Wi-Fi? <br />
          No problem.Allfeatures are available offline:
        </p>
        <div class="div-offlineMode-img">
          <div class="OflineMode-imgP">
            <img src="../img/offline-online/item.png" alt="itemicon" />
            <p class="OflineMode-p3">Core levels</p>
          </div>
          <div class="OflineMode-imgP">
            <img src="../img/offline-online/item.png" alt="itemicon" />
            <p class="OflineMode-p3">Puzzle unlocking</p>
          </div>
          <div class="OflineMode-imgP">
            <img src="../img/offline-online/item.png" alt="itemicon" />
            <p class="OflineMode-p3">Booster use</p>
          </div>
        </div>
        <div class="Offline-mode-image">
          <img
            src="../img/offline-online/mobile.png"
            alt="offlineMode"
            srcset="
              ../img/offline-online/mobile.png    1x,
              ../img/offline-online/mobile@2x.png 2x
            "
          />
        </div>
        <p class="Offline-mode-p2">
          Once online, your progress syncs automatically. You’ll never lose your
          data, whether you're on a flight or commuting underground.
        </p>
      </div>
    </div>
  </div>
</section>
