<section class="gallery-puzzle">
  <div class="container">
    <div class="galleryPuzzle">
      <h2 class="gallery-h2">Puzzle Gallery</h2>
      <p class="gallery-p">
        Your virtual scrapbook of travels. As you play, you'll
        <br class="br-gallery" />
        uncover and complete jigsaw-style puzzles of iconic
        <br class="br-gallery" />
        landmarks
      </p>
    </div>
    <div class="swiper-container-wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../img/puzzle-gallery/desctop-four.png"
              alt="galleryImg"
              srcset="
                ../img/puzzle-gallery/desctop-four.png    1x,
                ../img/puzzle-gallery/desctop-four@2x.png 2x
              "
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../img/puzzle-gallery/desctop-one.png"
              alt="galleryImg"
              srcset="
                ../img/puzzle-gallery/desctop-one.png    1x,
                ../img/puzzle-gallery/desctop-one@2x.png 2x
              "
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../img/puzzle-gallery/desctop-three.png"
              alt="galleryImg"
              srcset="
                ../img/puzzle-gallery/desctop-three.png    1x,
                ../img/puzzle-gallery/desctop-three@2x.png 2x
              "
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../img/puzzle-gallery/desctop-two.png"
              alt="galleryImg"
              srcset="
                ../img/puzzle-gallery/desctop-two.png    1x,
                ../img/puzzle-gallery/desctop-two@2x.png 2x
              "
            />
          </div>
          <div class="swiper-slide">
            <img
              src="../img/puzzle-gallery/mobile.png"
              alt="galleryImg"
              srcset="
                ../img/puzzle-gallery/mobile.png     1x,
                .../img/puzzle-gallery/mobile@2x.png 2x
              "
            />
          </div>
        </div>
      </div>
      <div class="swiper-button-next">
        <svg class="icon-gallery" width="20" height="20">
          <use href="../img/sprite.svg#icon-puzzle-gallery-right" />
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="icon-gallery" width="20" height="20">
          <use href="../img/sprite.svg#icon-puzzle-gallery-left" />
        </svg>
      </div>
    </div>
  </div>
</section>
