<section class="whofor-section" id="whofor-section">
    <div class="container">

        <h2 class="whofor-title">Who It's For</h2>

        <div class="whofor-section-mobile">
            <p class="whofor-subtitle">Perfect for:</p>
                <ul class="whofor-list">
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-puzzle"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Puzzle lovers seeking daily mental challenges</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-user"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Parents looking for safe, quiet screen time for kids</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-globus"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Travelers who enjoy geography and visual memory games</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-brain"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Seniors interested in cognitive training</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-meditation"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Anyone who needs a break but wants something meaningful</p>
                    </li>
                </ul>
                <p class="whofor-mobile-text">Match Journey is easy to start, satisfying to master,<br> and timeless in style.</p>
        </div>

    <div class="whofor-wrapper">
        <div class="whofor-section-img">
            <picture>
                <source srcset="../img/who-for/desctop@2x.png 2x, ../img/who-for/desctop.png 1x" media="(min-width: 1200px)">
                <source srcset="../img/who-for/moibile@2x.png 2x, ../img/who-for/mobile.png 1x" media="(max-width: 1199px)">
                <img class="whofor-img" src="../img/who-for//mobile.png" alt="Who Its For">
            </picture>
        </div>

        <div class="whofor-section-desctop">
            <p class="whofor-subtitle">Perfect for:</p>
                <ul class="whofor-list">
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-puzzle"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Puzzle lovers seeking daily mental challenges</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-user"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Parents looking for safe, quiet screen time for kids</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-globus"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Travelers who enjoy geography and visual memory games</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-brain"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Seniors interested in cognitive training</p>
                    </li>
                    <li class="whofor-item">
                        <span class="whofor-item-icon">
                            <svg class="whofor-icon" width="24" height="24">
                                <use href="../img/sprite.svg#icon-who-meditation"></use>
                            </svg>
                        </span>
                        <p class="whofor-text">Anyone who needs a break but wants something meaningful</p>
                    </li>
                </ul>
                <p class="whofor-desctop-text">Match Journey is easy to start, satisfying to master,<br> and timeless in style.</p>
        </div>
    </div>
    </div>
</section>