.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color:#fff;
    text-align: center;
    padding: 24px 0 19px 0;
    display: none;
}
.cockie-p{
    font-family: "Karla", sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #153f66;
        padding-bottom: 32px;
}

.cookie-banner button {
    border-radius: 25px;
        padding: 16px 48px;
        background-color: #eac64e;
        font-weight: 400;
            font-size: 24px;
            line-height: 1.25;
            text-align: center;
            color: #fffcdb;
            border: none;
    cursor: pointer; }
        .cookie-banner button:hover{
            color: #1c5fdc;
        }
    .coockie-button{
        display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;       }
            @media only screen and (min-width: 1200px) {
                .cockie-p{
                    font-family: "Bubblegum Sans", sans-serif;
                    width: 735px;
                        font-size: 24px;
                        line-height: 1.25;
                        margin: 0 auto;
                            font-size: 24px;
                            line-height: 1.25;
                            color: #1c5fdc;
                            padding-bottom: 42px
                }
                                                                .coockie-button{
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                        flex-direction: row;
                                                                        gap: 24px;
                                                                }
             .cookie-banner button{
                border-radius: 25px;
                    padding: 16px 48px;
                    width: 328px;
             }
             .cookie-banner{
                padding: 70px 0 40px;  
             }
            }