#testimonials {
    padding: 60px 0;
}

.testi-h2 {
    font-weight: 400;
    font-size: 30px;
    color: #1c5fdc;
    margin-bottom: 24px;
    text-align: center;
}

.testi-div-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testi-fidb2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testi-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #153f66;
    margin-top: 4px;
    margin-bottom: 12px;
}

.testi-p-svg {
    border: 3px solid #eac64e;
    border-radius: 0 0 50px 0;
    padding: 8px 12px 32px 12px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #153f66;
    margin-top: 16px;
    width: 288px;
}

.testi-contn-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 8px;
}

.icon-testi-group {
    fill: #eac64e;
    width: 14px;
    height: 13px;
}
.testi-contn-VectorF {
    position: absolute;
    top: 100px;
    left: 0;
}

.testi-contn-VectorD {
    position: absolute;
    top: 100px;
    left: 0px;
}

.icon-testi-VectorD {
    fill: #eac64e;
    width: 65px;
    height: 42px;
}
.icon-testi-Ledt-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 32px;
}

.icon-testiVecto-left,
.icon-testiVecto-right {
    width: 48px;
    height: 48px;
    fill: #eac64e;
    cursor: pointer;
}
.testi-swiper {
    overflow: hidden;
    width: 100%;
}

.testi-swiper-wrapper {
    display: flex;
    transition-property: transform;
    will-change: transform;
}

.testi-swiper-slide {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

/* === Адаптив === */
@media only screen and (min-width: 1200px) {
    .testi-p-svg {
        width: 420px;
    }

    .testi-contn-VectorD {
        left: 70px;
    }

    .testi-contn-VectorF {
        top: 150px;
        right: 426px;
        left: auto;
    }
    .testi-contn-VectorF {
        position: absolute;
        top: 122px;
            left: 30px;
    }
    
    .testi-contn-VectorD {
        position: absolute;
        top: 122px;
            left: 30px;
    }
}